{% extends "base.html" %}
{% block pagecontent %}
<script>
    function toggleExplanation(element) {
        element.classList.toggle('expanded');
    }
</script>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Gesetzesinitiativen (Noch nicht Beraten)
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        Hier ist die erste Station jedes Gesetzes in jedem Parlamentarischen Verfahren
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "parl-initiativ" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        In der Ausschussberatung
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        Zu diesen Vorhaben hat bereits eine 1. Beratung im Plenum des Bundestags stattgefunden. Typischerweise werden
        Gesetzesentwürfe dann in die zuständigen Ausschüsse zur weiteren Beratung überwiesen. Dabei findet oft auch eine
        Anhörung von Sachverständigen statt. Über die Details des Gesetzentwurfs wird in der Beratung weiterverhandelt,
        die Aussschüsse haben die Möglichkeit, den Entwurf noch zu ändern.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "parl-ausschber" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Angenommen
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        <h3>Verabschiedet</h3>

        Diese Gesetze, Beschlüsse und/oder Verordnungen wurden vom Bundestag verabschiedet, aber noch nicht verkündet.
        Das bedeutet, dass sie noch nicht im Gesetzblatt erschienen sind und damit noch nicht in Kraft treten können.
        Das kann unterschiedliche Gründe haben: Der Bundespräsident muss die Gesetze zuerst unterzeichen, das kann
        einige Wochen dauern. Es kann aber auch vorkommen, dass die Verkündung durch eine Beschwerde oder Klage beim
        Verfassungsgericht verzögert wird.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "parl-akzeptanz" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Abgelehnt
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        <h3>Abgelehnte Vorhaben sind tot</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "parl-ablehnung" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}