{% extends "base.html" %}
{% block pagecontent %}
<script>
    function toggleExplanation(element) {
        element.classList.toggle('expanded');
    }
</script>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Volksentscheid
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        TODO
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "postparl-vents" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Verkündung im Gesetzesblatt
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        TODO
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "postparl-gsblt" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Inkraftgetreten
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        TODO
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "postparl-kraft" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}