{% extends "base.html" %}
{% block pagecontent %}
<script>
    function toggleExplanation(element) {
        element.classList.toggle('expanded');
    }
</script>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Eckpunktepapiere
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        In Eckpunktepapieren werden erste, noch sehr grobe Ideen und Leitlinien für einen zukünftigen Gesetzentwurf
        festgehalten. Oft dienen Eckpunktepapiere auch dazu, Einigungen zwischen verschiedenen Ministerien oder zwischen
        den Koalitionspartnern schriftlich festzuhalten. Sie bilden den Rahmen für weitere Diskussionen und
        Beteiligungsverfahren. Die Eckpunkte enthalten noch keine konkreten Formulierungen für ein Gesetz, sondern
        dienen als Ausgangspunkt für konkrete Gesetzesvorschläge, die in den späteren Schritten folgen.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator(en)</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "preparl-eckpup" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Diskussionsentwürfe
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        Ein Diskussionsentwürfe ist ein erster, offizieller Gesetzentwurf, der von den Fachleuten – den Referent:innen –
        eines Ministeriums oder einer Behörde ausgearbeitet wird. Er dient als Grundlage für interne Diskussionen, und
        wird zur weiteren Abstimmung und Prüfung an andere Ministerien, Gremien oder Interessenvertreter weitergeleitet.
        Oft werden von den Ministerien Stellungnahmen zu den Diskussionsentwürfen eingeholt, die auf der Vorhabenseite
        des Ministeriums veröffentlicht werden. Im Bund werden sie auch Referentenentwürfe genannt.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "preparl-regent" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Kabinettsbeschlüsse
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        Sobald ein Referentenentwurf vom Bundeskabinett diskutiert und angenommen wurde, spricht man von einem
        Kabinettsbeschluss oder einem Regierungsentwurf. Es ist die formelle Zustimmung oder Billigung eines
        Gesetzesentwurfs durch die Bundesregierung. Dieser Beschluss bildet die Grundlage für die Vorlage des
        Gesetzesentwurfs im Bundestag und im Bundesrat. Das Kabinett tagt typischerweise mittwochs vormittags, die
        Beschlüsse werden anschließend <a href="https://www.bundesregierung.de/breg-de/bundesregierung/bundeskanzleramt/kabinettssitzungen#/">hier</a> veröffentlicht.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "preparl-kabbsl" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-container" onclick="toggleExplanation(this)">
    <div class="table-title">
        Volkbegehren
        <span class="arrow"></span>
    </div>
    <div class="table-explanation">
        Auf Ebene der Länder existieren Volksbegehren und Volksentscheide. Die Vorhaben werden von Bürger:innen initiiert und müssen 
        im Landtag besprochen werden.
    </div>
    <table>
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="15%">Letzte Änderung</th>
                <th>Titel</th>
                <th width="10%">Initiator</th>
            </tr>
        </thead>
        <tbody>
            {% for element in paginator.pages %}
            {% if element.extra.state == "preparl-vbegde" %}
            {% include "partials/short-list-element.html" %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}