services:
  oapi-preimage:
    build:
      context: .
      dockerfile: Dockerfile.oapi
      network: host
    image: oapi-preimage
  database:
    image: postgres:latest
    container_name: pg-server
    restart: unless-stopped
    ports:
      - 5432:5432
    networks:
      - ltzf-network
    environment:
      POSTGRES_USER: ltzf-user
      POSTGRES_PASSWORD: ltzf-pass
      POSTGRES_DB: ltzf
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    networks:
      - ltzf-network
    environment:
      REDIS_ARGS: "--save 60 1 --loglevel warning"

  ltzf-db:
    build:
      context: ltzf-backend
      dockerfile: Dockerfile.deploy
      network: host
    image: ltzf-db:test
    container_name: ltzf-db
    ports:
      - 8080:80
    depends_on:
      - database
      - oapi-preimage
    networks:
      - ltzf-network
    environment:
      DATABASE_URL: "postgres://ltzf-user:ltzf-pass@database:5432/ltzf" # required
      RUST_LOG: "info"                                                 # optional
      LTZF_KEYADDER_KEY: "tegernsee-apfelsaft-co2grenzwert"             # required
      MAIL_SERVER: "smtp.web.de"
      MAIL_USER: "tophatinkling@web.de"


  collector:
    build:
      context: ltzf-collector
      network: host
    image: ltzf-collector:test
    container_name: ltzf-collector
    depends_on:
      - ltzf-db
      - redis
      - oapi-preimage
    networks:
      - ltzf-network
    volumes:
      - ./temp/locallogs:/app/locallogs
    environment:
      LTZF_API_URL: "http://ltzf-db:80"
      LTZF_API_KEY: "tegernsee-apfelsaft-co2grenzwert"
      REDIS_HOST: "redis"
      API_OBJ_LOG: "locallogs"
      OPENAI_API_KEY: "example"

  
  webserver:
    build:
      context: ltzf-website
      network: host
    image: ltzf-webserver:test
    container_name: ltzf-webserver
    depends_on:
      - ltzf-db
      - oapi-preimage
    networks:
      - ltzf-network
    ports:
      - 8081:80
    environment:
      LTZF_API_HOST: "ltzf-db"

networks:
  ltzf-network:
