<div class="header">
    <div class="left-section">
        <a href="/">
        <img src="/icons/cropped-LogoV1.webp" alt="Website Icon"></a>
        <a href="/">
        <div class="title">
            <div class="main-title">{{ config.title }}</div>
            <div class="subtitle">Denn irgendjemand muss auch das wohl tun</div>
        </div></a>
    </div>
    <div class="menus">
        <div class="dropdown"><a href="/">
            <button class="dropbtn">Start
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
        <div class="dropdown">
            <button class="dropbtn">
                Gesetze 20. Legislatur
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/gesetze/vorbereitung">In Vorbereitung</a>
                <a href="/gesetze/bundestag">Im Bundestag</a>
                <a href="/gesetze/abgeschlossen">Abgeschlossen</a>
                <a href="/gesetze/liste">Liste</a>
            </div>
        </div> 
        <div class="dropdown">
            <a href="/pages/supportme">
                <button class="dropbtn">Über<i class="fa fa-caret-down"></i></button>
            </a>
        </div>
        <div class="dropdown">
            <a href="/pages/impressum">
                <button class="dropbtn">Impressum/Datenschutz<i class="fa fa-caret-down"></i></button>
            </a>
        </div>
    </div>
</div>