<div class="title-bar">
    <a href="/" class="title-link">
        <img src="/icons/cropped-LogoV1.webp" alt="Logo">
        <div class="title">Landtagszusammenfasser: Bayern</div>
    </a>
    <div class="burger-menu" onclick="toggleMenu(this)">
        &#9776;
        <ul>
            {% include 'partials/categories.html' %}
            <div class="category">
                <div class="category-title"><a href="/about">About</a></div>
            </div>
            <div class="category">
                <div class="category-title"><a href="/impressum">Impressum</a></div>
            </div>
            <div class="category">
                <div class="category-title"><a href="/supportme">Unterstützen</a></div>
            </div>
        </ul>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
    </div>
    <div class="buttons">
        <a href="/about"><button>About</button></a>
        <a href="/impressum"><button>Impressum</button></a>
        <a href="/supportme"><button>Unterstützen</button></a>
    </div>
</div>

<script>
    function toggleMenu(menu) {
        menu.classList.toggle('open');
    }

    // Add event listeners for menu interaction
    document.addEventListener('DOMContentLoaded', function() {
        const mobileMenu = document.querySelector('.burger-menu ul');
        const burgerMenu = document.querySelector('.burger-menu');
        
        if (mobileMenu) {
            // Prevent menu closure when clicking inside
            mobileMenu.addEventListener('click', function(e) {
                e.stopPropagation();
            });
            
            // Close menu when clicking outside
            document.addEventListener('click', function(e) {
                if (!burgerMenu.contains(e.target) && burgerMenu.classList.contains('open')) {
                    burgerMenu.classList.remove('open');
                }
            });
        }
    });
</script>